/Debug/
.gitignore_global
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib/
local.properties
.classpath
.project
.settings/
.cache/
.apt_generated/
.factorypath
target/
ece353_staff.lib
ece353_staff.h
.launches/
.ccsproject
.cproject
FreeRTOSConfig.h
msp432p401r.cmd
startup_msp432p401r_ccs.c
system_msp432p401r.c
targetConfigs/

